.calendar{
  @extend %mainWidth; padding-top: 20px;padding-bottom: 40px; 

  .monthChange{
    margin: 0 auto 10px; padding: 0 10px;
    display: flex; flex-wrap: wrap; align-items: center;
    label{ flex: 0 0 auto; margin-right: 1em;}
    p{ flex: 1 1 auto; margin:.5em 0; line-height: 1.6;}
  }

  .btnDv{margin-top: 2em;}

  @media screen and (min-width: $wwMedium){
    margin-bottom: 60px; padding-top: 30px; 
    box-shadow: rgba(0,0,0,.25) 0 4px 16px;border-radius: 16px;
    .monthChange, .oneMonth, .oneMonth ~ p, .btnDv{ width: 96%;}
  }
}


.oneMonth{
  padding:12px 0; margin: 0 auto 16px;
  overflow-y: hidden; overflow-x: scroll;
  border-radius: 10px 10px 6px 6px; border: 1px solid $borderColor;
  background-color: $grayLight;
  
  h3{ text-align: center; font-size: 1.4rem; line-height: 1.1; margin: 16px auto 8px; }
  &~p{ margin: .5em auto; line-height: 1.6;}
  
  table{
    border-collapse: collapse; width: 100%; margin: 0 auto;
    border: 1px solid $borderColor;
    background-color: $white;
  }

  th, td{ border: 1px solid $borderColor;line-height: 1.1;}
  th{
    padding:12px 6px; 
    background-color: $grayDark; color: $fontInvert; font-weight: normal;
  }
  td{
    padding: 6px; vertical-align: top;
    
    .date {
      display: block;height: 1.4em; 
      text-align: right; margin-right: 4px;
      font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;
    }

    button{
      display: block; width: 100%; height: auto;min-height: 2.4em; 
      padding:6px 6px 4px; margin:6px 0 0; line-height: 1.2; 
      background-color: $white; color: $fontColor;
      border: 1px solid $linkColor; border-radius: 4px;
      transition: .2s;
      &::after{ 
        content: attr(title); display: inline-block; white-space: nowrap;
        font-size: .6em; width: 3.5em; text-align: center;
      }
      &:hover, &:focus{
        box-shadow: $linkColor 0 0 0 2px; border-color: $white;
      }
      // 已預約
      &.checked {
        background-color: $linkColor; color: $fontInvert;
      }
      // 額滿
      &.occupied{
        cursor: default;
        background-color: $gray; border-color: $gray; box-shadow: none;
        color: $fontColor;
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    border: none; padding-bottom: 0; border-radius: 10px 10px 0 0;
    table{border: 2px solid $borderColor;}
    th{
      &::before{content: attr(title);}
    }
  }

}
