// 項目 ul, li 條列 ////////////////////////////////////////////////
.list{
  @extend %mainWidth;
  position: relative; padding: 10px 0;

  &>ul{
    list-style: none; margin: 0; padding: 0; line-height: 1.6;
    border-top: 3px solid $borderColor; border-bottom: 3px solid $borderColor;
    &>li{
      margin:0; padding: 0;
      border-bottom: 1px solid $borderColorLight;
      a{
        display: block; position: relative;
        padding: .9em 5px .8em 3em; margin: 3px 0;
        text-decoration: none; color: $fontColorDark;
        
        &::before{
          content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
          border-radius: 4px; z-index: -1; transition: .3s;
        }
        &:hover, &:focus{
          &::before{ z-index: 0; box-shadow: $hiLight 0 0 0 2px inset;}
        }
      }
      .numb{
        position: absolute; left: 5px; top: .85em;
        text-align: right; min-width: 2em;
        &::after{content: '.';}
      }
      .title{ margin-right: .5em; font-size: 1.125rem;}
      .from{
        display: inline-block; color: $fontColorLight;
        &::before{content: '（';}
        &::after{content: '）';}
      }
      time{
        display: block; margin: .5em 0 0 0; padding: 0 8px;
        color: $fontColorLight; text-align: right;
      }
      &:last-child{border-bottom: none;}
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul{
      &>li{
        &>a{padding-right: 6.5em; padding-left: 3em;}
        .numb{ left: 5px;}
        time{position: absolute; right: 0; top: 0.9em; margin: 0;}
      }
    }
  }
}
// -----------------------------------------------------------------



// 表格 table 條列 /////////////////////////////////////////////////
// 注意：表格樣式非小螢幕優先 ( mobile first )
.list{
  &>table{
    border-collapse: collapse; line-height: 1.5; 
    width: calc(100% - 8px); margin:4px;
    border-top: 3px solid $borderColor; 
    border-bottom: 3px solid $borderColor;
    thead{
      tr{ border-bottom-color: $borderColor; }
    }
    tbody tr:last-child{ border-bottom: none; }
    tr{ border-bottom: 1px solid $borderColor; }
    th, td{ 
      padding: 14px 16px 12px; position: relative;
      &::after{
        content: ''; 
        position: absolute;top: 4px; bottom: 4px; left: 0;
        width: 1px; background: $borderColorLight;
      }
      &:first-child{
        &::after{background-color: transparent;}
      }
    }

    td{
      text-align: center;
      &.aLeft{ text-align: left;}
      &.aRight{ text-align: right;}
      
      &.numb{
        width: 4em; text-align: right;
        padding-right: 8px; padding-left: 0;
        &::after{content: '.'; position: static;}
      }
      &.from{ min-width: 5em;}
      &.title{
        position: relative; text-align: left; font-size: 1.125em;
      }
      &>a{
        display: block;
        color: $fontColorDark; text-decoration:none; 
        transition: .2s;
        &::before{
          content: ''; position: absolute; left: 3px; right: 3px; bottom: 3px;top: 3px;
          border-radius: 4px; transition: .2s;
        }
        &:hover, &:focus{
         &::before{ z-index: 0;box-shadow: $hiLight 0 0 0 2px inset; }
        }
      }
      time{ display: inline-block; white-space: nowrap;}
    }
  }

  @media screen and (max-width: $wwMedium - 1px){
    &>table.rwdTable{
      thead{display: none;}
      tr, th, td{ display: block;}
      tr{ position: relative; overflow: hidden; padding: .8em 0 .7em 3.4em;}
      th, td{
        position: static; padding: 0;margin: 0; text-align: left;
        &::after{display: none;}
      }
      td{
        padding:.3em 15px .3em 0;
        &::before {
          content: attr(data-th) ':'; 
          display: inline-block; margin-right: .5em;
          color: $fontColorLight;
        }

        &.numb{
          position: absolute; top: .7em; left: 0;width: 3em;
          text-align: right; white-space: nowrap;
          font-size: 1.125em; font-weight: bold;
          &::before{ display: none;}
          &::after{display: inline-block;}
        }
        
        &.title{
          &>a{ 
            display: inline;
            &::before{ left: 0; right: 0; }
          }
        }
      }
      .downloadFiles{ display: inline-block; vertical-align: middle; }
    }
  }
}
// -----------------------------------------------------------------
