// 表格形式內容頁 //////////////////////////////////////////////////
.cpMeta{
  @extend %mainWidth;margin-bottom: 100px;padding:40px 25px; 
  box-shadow: rgba(0,0,0,.2) 0 0 16px;border-radius: 12px;

  &>table{
    border-collapse: collapse; margin: 0 auto; width: 100%;
    line-height: 1.8;
    border-top: 2px solid $borderColorDark;
    border-bottom: 2px solid $borderColorDark;
    td, th {
      padding: .7em .8em .6em;
      border-bottom: 1px solid $borderColor;
    }

    th{
      position: relative; 
      padding-left: 3px; width: 15%; text-align: left;
      vertical-align: top; 
      font-weight: bold; color: $fontColorDark;
      &::after{
        content: ''; 
        position: absolute; right: 0; top: 3px; bottom: 3px;
        width: 3px;
        background-color: $borderColorLight;
      }
    }
    td{
      padding-right: 3px; text-align: left;
      ul, ol{
        margin: 0;
        &+ul, &+ol{margin-top: 1.5em;}
      }
      li+li{margin-top: .8em;}
    }
  }

  @media screen and (max-width: $wwNormal - 1px){
    margin-bottom: 50px;padding:25px 3vw; 
    border-radius: 6px;
  }

  @media screen and (max-width: $wwMedium - 1px){
    &>table{
      border-width: 1px;
      tr{
        display: block; overflow: hidden; clear: both;
        padding:.7em .3px .6em;
        border-bottom: 1px solid $borderColor;
        &:last-child{border-bottom: none;}
      }
      th, td{ padding: 0;}
      th{
        float: left;
        width: auto; border: none; padding-right: .5em;
        &::after{content: '：'; background: none; position: static; display: inline;}
      }
      td{border: none;display: inline-block;}
    }
  }
}
// -----------------------------------------------------------------
