// 節點頁 //////////////////////////////////////////////////////////
.np{
  @extend %mainWidth;
  font-size: 1.125em;padding: 0 0 4em;
  ul{ list-style: none; margin: 0; padding: 0; line-height: 1.6;}
  li{ padding: 2px 0;
    a{
      position: relative; display: block; padding: .7em .5em .65em 26px;
      text-decoration: none; color: $fontColor;
    }
  }
  &>ul>li>a{ padding-left: 30px;}
  &>ul{
    &>li{
      margin: 5px 0 10px; padding:0;
      &>a{
        padding: .9em .5em .8em 18px; height: 100%;
        border: 1px solid $borderColor; border-left: none;
        transition: .2s;
        &::before{
          content: ''; position: absolute; left: 0; top: -1px; bottom: -1px; width: 5px;
          background-color: $primaryColor;
          transition: .1s;
        }
        &:hover, &:focus{
          padding-left: 22px;
          box-shadow: $borderColor 0 6px 24px -3px;
          border-color: $hiLight;
          z-index: 9;
          &::before{
            width: 9px; background-color: $hiLight;
          }
        }
      }
    }
  }
  @media screen and (min-width: $wwMedium){
    &>ul{
      display: flex; flex-flow: row wrap; justify-content: space-between;
      &>li{ flex:0 0 calc(50% - 5px); margin: 5px;
        &:nth-child(odd){ margin-left: 0;}
        &:nth-child(even){ margin-right: 0;}
      }
    }  
  }
}

// -----------------------------------------------------------------