// .sidebarMask 行動版側欄專用遮罩 /////////////////////////////////
.sidebarMask{
  display: none; z-index: 980;
  position: fixed; left: 0; right: 0; top: 0; bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}
// -----------------------------------------------------------------


// .sidebar 行動版側欄，預設隱藏 ///////////////////////////////////
.sidebar{
  position: fixed; top: 60px; bottom: 0; z-index: 990;
  width: $sideBarWidth; left:$sideBarWidth * (-1);
  overflow: auto; 
  background-color: $assistant; color: $fontColor;
  transition: .45s;

  // 顯示行動版側欄
  &.reveal{ left:0; }

  @media screen and (min-width: $wwNormal){
    display: none;
  }
}
// -----------------------------------------------------------------


////////////////////////////////////////////////////////////////////
// 以 jQ 複製到 .sidebar 中的 .menu 和 .topLinks
////////////////////////////////////////////////////////////////////

// .topLinks 寬版時在版頭右上的數個連結 ////////////////////////////
.sidebar .topLinks {
  border-top: 3px solid $white; padding: 10px;
  ul {
    display: flex; flex-flow: row wrap;
    list-style: none; margin: 0; padding: 0; line-height: 1.3;
    &>li{
      flex: 1 1 40%;
      margin: 3px; padding: 0;
      &>a{
        display: block; text-decoration: none;
        padding:.7em .5em .6em; height: 100%;
        box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px;
        color: $fontColor; text-align: center;
        transition: .2s;
        &:hover, &:focus{
          background-color: $primaryColor; color: $fontInvert;
          box-shadow:$primaryColor 0 0 0 1px;
        }
      }
    }
  }
}
// -----------------------------------------------------------------


// 在行動版側欄內的主選單 //////////////////////////////////////////
.sidebar .menu {
  font-size: 1.15em;
  &>ul{ 
    line-height: 1.4;
    li{
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      &:last-child{ border-bottom: none; }
      a{ 
        padding: .8em .8em .7em;
        color: $fontColor;
        transition: .2s;
        &:hover{ background-color: $primaryColor; color: $fontInvert; }
      }

      &.hasChild{
        &>a{
          padding-right: 36px; position: relative;
          &::after{ content: ''; position: absolute; right: 15px; top: 1.2em;
            width: 8px; height: 8px; border: 2px solid $primaryColor;
            transform: rotate(45deg); border-left: none; border-top: none;
            transition: .2s;
          }
          &:hover{
            &::after{ border-color: $assistant;}
          }
        }
        &.closeIt{
          background-color: $primaryColor;
          padding-bottom: 1px;
          &>a{
            color: $fontInvert;
            &::after{ transform: rotate(225deg); top: 1.5em; border-color: $assistant;}
          }
          li{
            a{
              color: $fontInvert;
              &::after{ border-color: $assistant;}
              &:hover{background-color: $assistant; color: $primaryColor;
                &::after{border-color: $primaryColor;}
              }
            }
          }
        }
      }

      ul{ 
        display: none; font-size: 1rem; margin: 0 8px 7px 1.2em;
        border: 1px solid rgba(255, 255, 255, 0.5); 
      }
    }
  }
}
// -----------------------------------------------------------------