// variables
// ---------- 長度常數 ---------- //
$sideBarWidth: 280px;  // 窄版側欄選單
$mobileWidth: 94vw; // 窄螢幕寬度 moduals width in mobile
$normalWidth: 88vw; // 寬螢幕寬度
// ---------- 長度常數 ---------- //


// ---------- RWD 斷點 ---------- //
$wwSlim: 480px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwMaximum: 1200px;
// ---------- RWD 斷點 ----------- //


// ---------- 主要內容寬度設定 ----------- //
%mainWidth {
  width: $mobileWidth; margin: 0 auto;
  @media screen and (min-width: $wwNormal){
    width: $normalWidth;
  }
  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*($normalWidth / 100vw);
  }
}
// ---------- 主要內容寬度設定 ----------- //


// ---------- 顏色變數 ----------- //
$primaryColor:#1A2D3D;
// $secondaryColor: #222;
$assistant: #FFCB11;
$hiLight:#6b6aba;
// $hiLight2:#d6c41b;
$notice: #cd0082;

$fontColor: #333;
$fontColorLight: #666;
// $fontColorPale: #999;
$fontColorDark: #000;
$fontInvert: #fff;
$linkColor: #07637f;
$mainBg: #fff;

$borderColor: #c1c5c6;
$borderColorLight: #e2e1e1;
$borderColorDark:#a4a9aa;
// $shadow:rgba(0, 0, 0, 0.2);
// $shadow2:rgba(0, 0, 0, 0.5);

$gray: #dddad4;
$grayLight: #F3F0EA;
$grayDark: #b2b0ad;

$btnBg1: $primaryColor;
$btnBg2: lighten($primaryColor, 12%);

$footerBg: #fcfcfc;
$sidebarBg: $primaryColor;

$black:#000;
$white:#fff;

@mixin gradient($deg: 0deg) {
  background: linear-gradient($deg, #ffeb87 0%, #FFCF26 100%);
}

// ---------- 顏色變數 ----------- //