// 快捷鍵 ////////////////////////////////////
.accesskey{ display: none; }
@media screen and (min-width: $wwNormal){
  .accesskey{ 
    display: block; z-index: 9; 
    position: absolute; left: 0; top: 0; padding: 0 3px;
    text-decoration: none; color: $fontColorLight;
    &:focus{ outline:none; box-shadow:$primaryColor 0 0 0 2px inset;}
  }
  .main .accesskey{ color: #fff;}
}

@media screen and (min-width: $wwMaximum){
  .webHeader .accesskey{
    left: calc(50vw - #{$wwMaximum}/2)
  }

}
// -----------------------------------------------------------------


// 跳至內容區 ////////////////////////////////////
.goCenter{
  display: none;
  @media screen and (min-width: $wwNormal){
    display: block; position: absolute; top: -30px; left: 1.5em; z-index: 0;
    padding: 0 .8em; border-radius: 0 0 4px 4px;
    overflow: hidden;
    font-size: .9rem; height: 1.8em; line-height: 1.8;
    background-color: $assistant; color: $fontInvert;
    text-decoration: none; outline: none;  cursor: pointer;
    transition:top .3s; 
    &:focus{ top: 0; z-index: 991;}
    &:hover, &:focus{  opacity: 1; color: $fontInvert;}
  }
  @media screen and (min-width: $wwMaximum){
    left: calc(50vw  - #{$wwMaximum}*.5 + 1.5em);
  }
}
// -----------------------------------------------------------------


// 首頁區塊標題 //////////////////////////////////
.blockHeader{
  margin: 0 0 24px; padding:0;
  font-size: 2rem; text-align: center; line-height: 1.4;
  span{ display: inline-block;}
  .he{ font-weight: normal; letter-spacing: -1px; }
  .hc{ font-size: 1.3rem;}
}
// -----------------------------------------------------------------


// 更多 //////////////////////////////////
.more{
  a{
    display: inline-block; height: 2.4em; line-height: 2.2em; padding: 0 1.2em; 
    border-radius: 2em; text-decoration: none;
    background-color: $assistant; color: $fontInvert;
    transition: .2s;
    &:hover{ box-shadow: $assistant 0 0 0 2px; }
    &:focus{ box-shadow:$primaryColor 0 0 0 1px, $assistant 0 0 0 4px; }
  }
}
// -----------------------------------------------------------------


// 捲動至頁面最上方 //////////////////////////////////
.goTop{
  position: fixed; right: 10px; bottom: -60px; z-index: 99;
  width: 44px; height: 44px; border-radius: 50%;
  border: none; text-indent: -5em; overflow: hidden;
  box-shadow: transparent 0 0 0 2px, rgba(0, 0, 0, .3) 0 0 12px;
  background-color: rgba(255, 255, 255, .8); cursor: pointer;
  transition:box-shadow .2s, background-color .2s, bottom .8s;
  &::before,  &::after{
    content: ''; position: absolute; width: 8px; height: 8px;
    left: 50%; top: 50%; margin-top: -6px; margin-left: -5px;
    border: 2px solid $assistant; border-top: none; border-left: none;
    transform: rotate(225deg);transition: .3s;
  }
  &::after{ margin-top: 1px;}

  &:hover{
    background-color: $white;
    box-shadow: $white 0 0 0 2px, rgba(0, 0, 0, .4) 0 0 20px;
   
  }
  &:focus{
    background-color: $white;
    box-shadow:$assistant 0 0 0 2px, rgba(0, 0, 0, .4) 0 0 10px;
  }

  &.show{bottom: 20px;}

  @media screen and ( min-width: calc(#{$wwMaximum} + 64px) ){
    right: calc(50% - #{$wwMaximum}*.5 - 22px);
  }

}
// -----------------------------------------------------------------


// 行動版查詢控制圖示 and 行動版側欄開關  ////////////////////////////
.searchCtrl, .sidebarCtrl{
  position: absolute; top: 4px; width: 52px; height: 52px; z-index: 9;
  text-indent: -20em; overflow: hidden; outline: none; margin: 0;
  border-radius: 0; background-color: transparent; border: none;
  cursor: pointer; 
  &:hover, &:focus{background-color: $primaryColor;}
  &:focus{box-shadow: $primaryColor 0 0 0 4px;}
}

// 行動版查詢控制圖示 
.searchCtrl{
  right: 4px; transition: .2s;
  &::before, &::after{content: ''; position: absolute;}
  &::before{
    left: calc(50% - 12px); top: calc(50% - 12px);
    width: 16px; height: 16px; border: 2px solid $black; border-radius: 50%;
  }
  &::after{
    width: 12px; height: 3px; background-color: $black; border-radius: 0 2px 2px 0;
    left: calc(50% + 2px); top: calc(50% + 6px);
    transform: rotate(45deg);
  }
  @media screen and (min-width: $wwNormal){
    display: none;
  }
}

// .sidebarCtrl 控制行動版側欄開關（漢堡圖示）
.sidebarCtrl{
  left: 4px;
  &::before, &::after{
    content: ''; position: absolute; left: 12px;
    width: 28px;height: 2px; background: $fontColor;
  }
  &::before{
    top: 25px;
    box-shadow: $fontColor 0 -9px 0;
    transition: box-shadow .2s .2s, transform .2s 0s;
  }
  &::after{
    top: 34px;
    transition: transform .2s 0s, top .2s .2s;
  }

  &.closeIt{
    &::before{
      box-shadow: $fontColor 0 0 0;
      transform: rotate(45deg);
      transition:box-shadow .2s 0s, transform .2s .2s;
    }
    &::after{ 
      top: 25px; transform: rotate(-45deg);
      transition: transform .2s .2s, top .2s 0s;
    }
  }

  @media screen and (min-width: $wwNormal){
    display: none;
  }
}
// -----------------------------------------------------------------


// 關閉Ｘ圖示 //////////////////////////////////////////////////////
button.closeThis{
  position: relative;
  height: 44px; width: 44px; padding: 0; margin: 0;
  text-indent: -20em; overflow: hidden;
  background-color: rgba(0,0,0,.7);box-shadow: none;border: none;
  &::before, &::after{
    content: ''; position: absolute; left: 11px; top: 21px;
    width: 24px; height: 2px; background-color: $white;
    transition: .15s;
  }
  &::before{transform: rotate(45deg) scale(1);}
  &::after{transform: rotate(-45deg) scale(1);}

  &:hover{
    background-color: $notice; box-shadow: none;
    &::before{transform: rotate(45deg) scale(1.2);}
    &::after{transform: rotate(-45deg) scale(1.2);}

  }
  &:focus{ background-color: $notice; box-shadow: $white 0 0 0 1px, $notice 0 0 0 4px}
}
// -----------------------------------------------------------------




// 影片播放符號 ////////////////////////////////////////////////////
.videoThumb{
  position: relative;
  &::before, &::after{
    content: ''; position: absolute; left: 50%; top: 50%;
    opacity: .7; transition: .2s;
  }
  &::before{
    width: 44px; height: 44px; border-radius: 50%; 
    margin: -22px 0 0 -22px;
    background-color: rgba(0, 0, 0, 0.5); box-shadow: $white 0 0 0 3px; }
  &::after{
    width: 0; height: 0; margin: -10px 0 0 -4px;
    border-style: solid; border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent $white;
  }
}
a:hover .videoThumb{
  &::before, &::after{opacity: 1;}
  &::before {background-color: #c00; box-shadow: #c00 0 0 0 3px;}
}
// -----------------------------------------------------------------


/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////


// slick套件  //////////////////////////////////////////////////////////
// slick套件: 左右箭頭
.slick-arrow{
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 9;
  width: 42px; height: 42px; border-radius: 50%;
  text-indent: -20em; overflow: hidden; margin: 0;
  background-color: $assistant;
  box-shadow: transparent 0 0 0 2px, transparentize($assistant, .7) 0 3px 5px;
  cursor: pointer; outline: none; border: none; transition: .2s;
  &::before{
    content: ''; position: absolute; width: 8px; height: 8px;
    left: 50%; top: 50%; margin-top: -5px;
    border: 2px solid lighten($assistant, 75%); border-top: none; border-right: none;
    transform: rotate(45deg);
  }
  &.slick-prev{ left: 0; 
    &::before{ margin-left: -4px; }
  }
  &.slick-next{ right: 0;
      &::before{transform: rotate(225deg); margin-left: -7px;}
  }

  &:hover{
    box-shadow: $assistant 0 0 0 2px, transparent 0 0 0;
    background-color: $assistant;
  }
  &:focus{
    box-shadow:$primaryColor 0 0 0 1px, $assistant 0 0 0 4px;
    background-color: $assistant;
  }
}
// -----------------------------------------------------------------


// 自製 photoflow 配件----------------------------------------------
// photoflow: 左右箭頭
.diskBtn{
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 9;
  width: 42px; height: 42px; border-radius: 50%;
  text-indent: -20em; overflow: hidden; margin: 0;
  background-color: $primaryColor;
  cursor: pointer; outline: none; border: none; transition: .2s;
  &::before{
    content: ''; position: absolute; width: 8px; height: 8px;
    left: 50%; top: 50%; margin-top: -5px;
    border: 2px solid $fontInvert; border-top: none; border-right: none;
    transform: rotate(45deg);
  }
  &.prev{ left: 0; 
    &::before{ margin-left: -4px; }
  }
  &.next{ right: 0;
      &::before{transform: rotate(225deg); margin-left: -7px;}
  }

  &:hover{
    box-shadow: $primaryColor 0 0 0 2px;
    background-color: $primaryColor;
  }
  &:focus{
    box-shadow:$assistant 0 0 0 1px, $primaryColor 0 0 0 4px;
    background-color: $primaryColor;
  }
}
// -----------------------------------------------------------------


// 鍵盤樣式
kbd {
  display: inline-block; vertical-align: middle; 
  margin: 0 .1em; padding: 0 .4em; height: 1.7em; line-height: 1.6;
  font-size: .938em; font-family: sans-serif; font-weight: bold; 
  border: 1px solid $borderColor; border-radius: 0.2em; 
  color: $fontColor; background: $fontInvert; 
}