// 首頁：主題服務
// .main>*:not(.topics){display: none;}
.topics{
  margin: 0; padding: 50px 0;
  ul{ list-style: none; margin: 0; padding: 0;}
  
  .block{
    position: relative;overflow: hidden;
    margin: 0 auto 3vw auto;
    width: 94%; max-width: 560px; height: 28.5rem;
    border-radius: 6px;

    .topicImg {
      position: absolute; left: 0; top: 0; bottom: 0;
      width: 100%; object-fit: cover; z-index: 1;
    }

    &::before, &::after{
      content: ''; position: absolute; left: 0; right: 0; bottom: 0;
      z-index: 2;
    }
    &::before{
      height: 45%;
      background-image: linear-gradient(0deg, rgba(93, 87, 152, 0.9) 0%, rgba(93, 87, 152, 0) 100%);

    }
    &::after{
      height: 100%; opacity: 0;
      background-color: rgb(93, 87, 152);
      transition: .2s;
    }

    // ---------------------------------------------

    h3{
      position: absolute; left: 6%; width: 88%; top: 100%;
      margin: 0 0 1rem; padding:2.5rem 4px .5rem; z-index: 9;
      font-size: 1.6rem; line-height: 1.4;
      border-bottom: transparent solid 2px; color: #fff;
      transform: translateY(-115%);
      transition: .3s;
      span{
        display: block;
        &.he{font-size: 1rem; font-weight: normal;}
      }
    }
    
    .more{
      position: absolute; right: 0; top: 3rem; z-index: 9;
      opacity: 0; transition: .3s;
    }


    .links {
      position: absolute; left: 0; right: 0; top: 100%;
      line-height: 1.3; z-index: 9;
      transition: .3s;

      li{
        width: 88%; margin: .5em auto;
        a{
          display: inline-block; padding: .6em 1em .5em; max-width: 100%;
          white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
          border-radius: 3em; box-shadow: #fff 0 0 0 1px;
          text-decoration: none; color: #fff;
          transition: .2s;
          &:hover, &:focus{
            box-shadow:#fff 0 0 0 1px, #fff 0 0 8px 1px;
          }
        }
      }
    }

    .topicImg{       
      position: absolute; left: 0; top: 0; bottom: 0;
      width: 100%; min-height: 100%;
      object-fit: cover; z-index: 1;
    }

    //////////////////////////////////////////////////////
    // 游標 hover 到主題圖上方出現選單
    // hover & focus ---------------------------------------------
    &:hover, &.reveal {
      &::before{opacity: 0;}
      &::after{ opacity: .75;}
      h3{
        top: 0; transform: translateY(0);
        border-bottom-color: lighten($primaryColor, 5%);
      }
      .more{left: auto; right: 6%; opacity: 1;}
      .links {top: 7.5rem;}
      .topicImg{filter: blur(5px);}
    }

    // focus ---------------------------------------------
    // button.hidden{
    //   z-index: 9; position: absolute; top: 0;right: 0;
    //   width: 1px; height: 1px; padding: 0;
    //   background: transparent; box-shadow: none;border: none;

    // }

  }

  @media screen and (min-width: calc($wwMedium + 100px)){
    .flexbox{
      display: flex; flex-flow: row nowrap;
      width: calc(100% - 24px); max-width: 912px; margin: 0 auto;
    }

    .block{
      flex: 1 1 auto; width: calc(100%/3 - 8px);
      margin: 0 12px 0 0;
      &:nth-child(3){margin-right: 0;}
    }
  }


  @media screen and (min-width: $wwNormal ){
    .block{
      h3{ width: 82%; left: 9%; }
      .links {
        li{width: 82%;}
      }

      // hover ---------------------------------------------
      &:hover {
        .more{right: 9%;}
      }
    }
  }

}
